<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar.ejs') %>

  <div class="container">
    <h1 class="my-5">CLIENTES</h1>

    <div class="table-responsive">

      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Antonio</td>
            <td>(21) 5878-5589</td>
            <td>antonio@gmail.com</td>
            <td>
              <button class="btn btn-warning">EDITAR</button>
              <button class="btn btn-danger">DELETAR</button>
              <button class="btn btn-info">ENVIAR EMAIL</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Antonio</td>
            <td>(21) 5878-5589</td>
            <td>antonio@gmail.com</td>
            <td>
              <button class="btn btn-warning">EDITAR</button>
              <button class="btn btn-danger">DELETAR</button>
              <button class="btn btn-info">ENVIAR EMAIL</button>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Antonio</td>
            <td>(21) 5878-5589</td>
            <td>antonio@gmail.com</td>
            <td>
              <button class="btn btn-warning">EDITAR</button>
              <button class="btn btn-danger">DELETAR</button>
              <button class="btn btn-info">ENVIAR EMAIL</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>


  </div>


</body>
<%- include('../../partials/footer.ejs') %>
